* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  background-color: #FFF7ED;
}

.nav>.active-link {
  font-weight: bold;
  text-decoration: underline;
  color: #161616;
}

.btn {
  display: block;
  border-radius: 7px;
  background-color: #FF8C38;
  color: #FFFFFF;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem;
  width: 100%;
}

.back-button {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 22.92px;
  color: #201F1D;
  display: block;
  margin-block-end: 2rem;
  text-decoration: none;
}

.back-button:hover {
  text-decoration: underline;
}

.link-button {
  text-decoration: none;
  text-align: center;

}

.link-button:hover {
  transform: translate(1px, 1px);
}

.red {
  color: #CC0000;
  margin-block-end: 2rem;
}

/** Home Page **/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  height: 111.62px;
}

.header>.site-logo {
  color: #000000;
  text-decoration: none;
  font-size: 2rem;
  line-height: 40.27px;
  font-weight: 900;
}

.header>.site-logo:hover {
  color: #161616;
  text-decoration: underline;
}

.nav {
  display: flex;
  gap: 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  margin-inline-end: 1rem;
}

.nav>a {
  text-decoration: none;
  color: #4D4D4D;
  padding-inline-end: 0.5rem;
  font-size: 1.4rem;
  font-weight: 600;
}

.nav>.login-link {
  width: 18px;
  height: 18px;
}

.main {
  color: #FFFFFF;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/home-hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 570px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main>section {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}

.main>section>h1 {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1;
}

.main>section>span {
  font-size: 1.5rem;
  font-weight: 500;
}

.main>section>.link-button {
  margin-block-start: 4rem;
}

.footer {
  background-color: #252525;
  padding: 2rem;
  color: #AAAAAA;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/** About Page **/
.about-hero-image {
  width: 100%;
  height: auto;
}

.about-page-content {
  padding: 2rem;
  color: #161616;
}

.about-page-content>h1 {
  font-size: 32px;
  font-weight: 700;
  margin-block-end: 1.5rem;
}

.about-page-content>p {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 22px;
  margin-block-start: 1rem;
}

.about-page-cta {
  background-color: #FFCC8D;
  padding: 2rem;
  margin: 2rem 2rem 3rem;
  border-radius: 7px;
}

.about-page-cta>h2 {
  font-weight: 700;
  font-size: 1.5rem;
  color: #161616;
}

.about-page-cta .link-button {
  background-color: #161616;
  color: #FFFFFF;
  font-weight: 700;
  padding: 0.8rem 1.3rem;
  border-radius: 10px;
  display: flex;
  width: fit-content;
  margin-block-start: 2rem;
}

/** Login page **/
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 2rem;
}

.login-container > h1 {
  font-size: 2.5rem;
  margin-block-end: 3rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin-block-end: 2rem;
}

.login-form > input {
  border: 1px solid rgba(209, 213, 219);
  height: 40px;
  text-indent: 10px;
  font-family: "Inter", sans-serif;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  font-weight: 400;
  font-size: 1.2rem;
}

.login-form > input:focus {
  outline: none;
}

.login-form > input:first-of-type {
  border-radius: 6px 6px 0px 0px;
}

.login-form > input:last-of-type {
  border-radius: 0px 0px 6px 6px;
  border-top: none;
}

.login-form > button {
  margin-block-start: 2rem;
  background-color: #FF8C38;
  border: none;
  border-radius: 6px;
  height: 55px;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
}

.login-form > button:disabled {
  background-color: #aaaaaa;
  cursor: not-allowed;
}

/** Vans page **/
.vans-page-container {
  padding: 2rem;
}

.vans-page-container>h1 {
  font-size: 32px;
  font-weight: 700;
  margin-block-end: 1.5rem;
}

.van-list-filter-buttons {
  display: flex;
  gap: 1rem;
  margin-block-end: 3rem;
}

.van-list-filter-buttons>button {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 31.66px;
  color: #4D4D4D;
  background-color: #FFEAD0;
  border: none;
  text-decoration: none;
  padding: 0.4rem 1.3rem;
  margin: 0;
}

.van-list-filter-buttons>.simple:hover,
.van-list-filter-buttons>.simple.selected {
  color: #FFFFFF;
  background-color: #E17654;
}

.van-list-filter-buttons>.rugged:hover,
.van-list-filter-buttons>.rugged.selected {
  color: #FFFFFF;
  background-color: #115E59;
}

.van-list-filter-buttons>.luxury:hover,
.van-list-filter-buttons>.luxury.selected {
  color: #FFFFFF;
  background-color: #161616;
}

.van-list-filter-buttons>.clear-filters {
  text-decoration: underline;
  background-color: transparent;
}

.vans-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.van-tile {
  width: 100%;
}

.van-tile>a {
  text-decoration: none;
}

.van-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.van-info {
  margin-block-start: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.van-name,
.van-price {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 31.66px;
  color: #161616;
}

.van-info>p>span {
  font-size: 1rem;
  font-weight: 500;
}

.van-type {
  color: #FFEAD0;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 31.66px;
  padding: 0.1rem 1.1rem;
  border-radius: 5px;
  display: block;
  width: fit-content;
  margin-block-start: 1rem;
}

.simple {
  background-color: #E17654;
}

.rugged {
  background-color: #115E59;
}

.luxury {
  background-color: #161616;
}

/* Van Detail page */
.van-detail-container {
  padding: 2rem;
}

.van-detail-container>.van-info {
  margin-block-start: 2rem;
  color: #161616;
}

.van-detail-container .van-name {
  margin-block-start: 1rem;
  font-weight: 700;
  font-size: 2rem;
}

.van-detail-container .van-price {
  margin-block-start: 0.7rem;
  font-weight: 700;
  font-size: 1.5rem;
}

.van-detail-container .van-price span {
  font-weight: 500;
  font-size: 1.2rem;
}

.van-detail-container .van-description {
  margin-block-start: 1rem;
  font-weight: 500;
  line-height: 23.92px;
  font-size: 1.2rem;
}

.van-detail-container .link-button {
  border: none;
  margin-block-start: 2rem;
}

/** Host page **/
.host-nav {
  margin: 2rem;
}

/** Host van Page **/
.host-vans-page-container {
  padding: 2rem;
}

.host-vans-title {
  font-size: 2rem;
  font-weight: 700;
  color: #161616;
  margin-block-end: 2rem;
}

.host-vans-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

.host-vans-link-wrapper {
  display: block;
  background-color: #FFFFFF;
  text-decoration: none;
}

.host-van-tile {
  height: 140px;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.host-van-tile>img {
  height: auto;
  width: 100px;
  border-radius: 5px;
}

.host-van-tile .van-name {
  font-size: 1.6rem;
}

.host-van-tile .van-price {
  font-size: 1.2rem;
  color: #4D4D4D;
}

/** Host van detail page **/
.host-van-page-container {
  padding: 2rem;
}

.host-van-detail-container {
  background-color: #FFFFFF;
  min-height: 105vh;
  padding: 2rem;
  border-radius: 5px;
}

.host-van-detail {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-block-end: 2.5rem;
}

.host-van-detail>img {
  border-radius: 5px;
  height: 250px;
}

.host-van-detail>div {
  align-self: flex-start;
  margin-block-start: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.host-van-detail .van-type {
  font-size: 1.5rem;
  padding: 0.3rem 1.3rem;
  margin-block-end: 0.6rem;
}

.host-van-detail .van-name {
  font-size: 2.3rem;
  font-weight: 700;
}

.host-van-detail-container .host-van-detail .van-price {
  font-size: 1.8rem;
  font-weight: 700;
}

.host-van-detail .van-price>span {
  font-size: 1.5rem;
  font-weight: 500;
}

.host-van-detail-nav {
  display: flex;
  gap: 1.5rem;
  margin-block-end: 2.5rem;
}

.host-van-detail-info:has(h4, span) {
  font-size: 1.2rem;
  line-height: 21.46px;
}

.host-van-detail-info h4 {
  font-weight: 700;
  margin-block-end: 1.3rem;
}

.host-van-detail-info span {
  font-weight: 500;
}

.host-van-detail-container .van-price {
  font-size: 1.6rem;
}

.host-van-detail-container .van-price span {
  font-size: 1.3rem;
  color: #4D4D4D;
}

.host-van-detail-container .van-image {
  width: 150px;
}

/** Not found page **/
.not-found-page-container {
  padding: 2rem;
  margin: auto;
}

.not-found-page-container>div {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.not-found-page-container h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #161616;
  margin-block-end: 2rem;
}

.not-found-page-container .btn {
  color: #FFFFFF;
  background-color: #161616;
  font-size: 1.5rem;
  line-height: 31.66px;
  text-decoration: none;
  text-align: center;
}

/** Error message **/
.error-message {
  padding-inline: 2rem;
}
